.DailyPlanner{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../Images/Notebg.jpg);
    min-height: 100vh;
}
.Heading{
    /* width: 100%; */
    font-size: 2rem;
    font-family:cursive;
    color: var(--dark-blue);  
    /* display: block; */
}